<h1>Random Mandatory Socialization Question</h1>

<h2><%= button_to "Fresh Question", random_question_url, :method => :get %></h2>


<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
    </tr>
  </thead>
    <tbody>
      <% @question.each do |q| %>
        <tr>
          <td><%= q.id %></td>
          <td><%= q.question_string %></td>
        </tr>
      <% end %>
    </tbody>
</table>
