<h1 class="title">Random Mandatory Socialization Question Generator</h1>

<div class="btn-group">
  <div>
    <h4 class="button"><%= button_to "Get Random Question", random_question_url, :method => :get %></h4>
  </div>
  <div>
    <h4 class="button"><%= button_to "Create a Question", new_question_url, :method => :get %></h4>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
    </tr>
  </thead>
    <tbody>
      <% @questions.each do |q| %>
        <tr>
          <td><%= q.id %></td>
          <td><%= q.question_string %></td>
        </tr>
      <% end %>
    </tbody>
</table>
