<h1>Random Mandatory Socialization Question</h1>

<h2><%= button_to "Fresh Question", get_question_path, :method => :get %></h2>

<h3 class="left_margin">
  <% @questions.each do |q| %>
    <br>
    <%= q.question_string %>
  <% end %>
</h3>
