<table>
  <div class="center">
    <h1>Random Mandatory Socialization Question</h1>
    <tr>
      <td><%= @questions.question_string %></td>
    </tr>
    <tr>
      <td class="button" ><%= button_to "Fresh Question", get_question_path, :method => :get %></td>
    </tr>
    <tr>
      <td class="button all_questions" ><%= button_to "All Questions", questions_path, :method => :get %></td>
    </tr>
  </div>
</table>
