@import "bootstrap";

body, html {
    background-image: url('towfiqu-barbhuiya-oZuBNC-6E2s-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    margin: 2%;
    width: 96%;
    height: 96%;
}

.title {
    text-align: center;
    padding-bottom: 15px;
}
.btn-group {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    margin: 0 20px 0 20px;
}

.question {
    padding-top: 20px;
}

.question_label {
    font-weight: bold;
}

.create-question {
    align-items: center;
    display: flex;
    justify-content: center;
}

.create-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
