@import "bootstrap";

table {
    text-align: center;
    width:  100%;
    align-items: center;
    margin-top: 200px;
    color: white;
    font-size: 40px;
}

h1, h2 {
    text-align: center;
    width: 100%;
    color: white;
}

td {
    padding-bottom: 20px;
}

body {
    background-image: url('invoca-logo.jpg');
    background-size:cover;
}

.button {
    text-align: center;
}
